* {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  /* -webkit-touch-callout: none;
  -webkit-user-select: none; */
}

html, body {
  width: 100%;
  max-width: 640px;
  height: 100%;
  margin: 0 auto;
}

ul li {
  list-style: none;
}
